##Tokenizacion

In [1]:
!pip install  -u scikit-learn

Usage:
  pip3 install [options] <requirement specifier> [package-index-options] ...
  pip3 install [options] -r <requirements file> [package-index-options] ...
  pip3 install [options] [-e] <vcs project url> ...
  pip3 install [options] [-e] <local project path> ...
  pip3 install [options] <archive url/path> ...

no such option: -u

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/df_total[1].csv', encoding='UTF-8')

In [9]:
df.head()

,url,news,Type
0,https://www.larepublica.co/redirect/post/3201905,Durante el foro La banca articulador empresari...,Otra
1,https://www.larepublica.co/redirect/post/3210288,El regulador de valores de China dijo el domin...,Regulaciones
2,https://www.larepublica.co/redirect/post/3240676,En una industria históricamente masculina como...,Alianzas
3,https://www.larepublica.co/redirect/post/3342889,Con el dato de marzo el IPC interanual encaden...,Macroeconomia
4,https://www.larepublica.co/redirect/post/3427208,Ayer en Cartagena se dio inicio a la versión n...,Otra

In [10]:
df['news'][3]

'Con el dato de marzo el IPC interanual encadena su decimoquinta tasa positiva consecutiva. La inflación publicada por el INE se ha mantenido igual respecto al avance del 30 de marzo y se sitúa 22 puntos por encima del dato de febrero que ascendió al 76.De esos 22 puntos de diferencia la mayor parte la colocó el grupo de la vivienda 09 puntos por la subida de la electricidad y el del transporte 07 puntos por el alza de los carburantes. También impulsaron el IPC de marzo el aumento de los precios de la restauración y los servicios de alojamiento y al encarecimiento generalizado de los alimentos especialmente del pescado y el marisco de la carne de las legumbres y hortalizas y de la leche el queso y los huevos.Sin tener en cuenta la rebaja del impuesto especial sobre la electricidad y las variaciones sobre otros impuestos el IPC interanual alcanzó en marzo 107 nueve décimas más que la tasa general del 98. Así lo refleja el IPC a impuestos constantes que el INE también publica en el marco de esta estadística.La inflación subyacente sin alimentos no elaborados ni productos energéticos aumentó en marzo cuatro décimas hasta 34 su valor más alto desde septiembre de 2008. De este modo la subyacente se sitúa más de seis puntos por debajo de la tasa del IPC general.En el último año la calefacción el alumbrado y la distribución de agua se han encarecido 683 los aceites y grasas han elevado sus precios un 321 y el transporte personal es un 193 más caro por el mayor coste de los carburantes. También registran alzas de dos dígitos los huevos y la leche un 11 más caros que hace un año y la carne de ovino y el pescado fresco y congelado con repuntes del 101 en ambos casos.Cómo están los precios por comunidadesCastillaLa Mancha se situó a la cabeza con una tasa de inflación del 117 seguida de Castilla y León 11 Aragón 107 La Rioja 106 Galicia 105 Extremadura 103 Cantabria 102 y Comunidad Valenciana 102.En el otro las comunidades donde se registraron las menores subidas fueron Canarias 84 Madrid 9 Baleares 94 Asturias 95 País Vasco 95 y Cataluña 95.El IPC dispara su tasa mensual al 3En tasa mensual el IPC registró en marzo un incremento del 3 respecto a febrero su mayor alza mensual en cualquier mes desde 2002 cuando se cambió la metodología de esta estadística para recoger mejor la evolución del mercado. Echando la vista más atrás tomando series anteriores el repunte mensual de marzo es el más elevado desde agosto de 1977.En el tercer mes de 2022 el Índice de Precios de Consumo Armonizado IPCA situó su tasa interanual en 98 más de dos puntos por encima de la de febrero. Por su parte el indicador adelantado del IPCA avanzó un 39 en tasa mensual.'

In [12]:
x = df['news']
y = df['Type']

In [14]:
print(df['Type'].value_counts())

Type
Macroeconomia     340
Alianzas          247
Innovacion        195
Regulaciones      142
Sostenibilidad    137
Otra              130
Reputacion         26
Name: count, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [18]:
x_train

782     Fuertes ajustes realizó la Reserva Federal de ...
146     El robo o extravío de un teléfono móvil no sol...
993     Carlos Serrano Herrera economista jefe de BBVA...
1134    El factor humano, normalmente identificado com...
253     Se acaba de anunciar en los tribunales de Texa...
                              ...
202     Visa anunció una alianza con Minsait Payments ...
629     Las acciones de Grupo Televisa tienen el mejor...
2       En una industria históricamente masculina como...
319     La inflación de Corea del Sur volvió a superar...
458     En su último reporte de Índice de Precios al C...
Name: news, Length: 973, dtype: object

In [19]:
x_test

776    Dos marcas colombianas con trayectoria en la c...
163    Los bosques tropicales son capaces de regular ...
552    Este jueves se conoció que IFC otorgó un prést...
26     BBVA cuenta ya en Italia con un total de 108.0...
295    Bbva reveló el Consumption Tracker con cierre ...
                             ...
97     El servicio de estudios de BBVA ha revisado a ...
977    El crecimiento del PIB en Perú se apoya en la ...
797    Resulta indudable que la información es uno de...
913    Bbva registró un nuevo récord a través de la a...
149    Las energías renovables son aquellas que se ob...
Name: news, Length: 244, dtype: object

In [20]:
y_train

782     Macroeconomia
146        Innovacion
993     Macroeconomia
1134       Innovacion
253      Regulaciones
            ...
202          Alianzas
629     Macroeconomia
2            Alianzas
319     Macroeconomia
458     Macroeconomia
Name: Type, Length: 973, dtype: object

In [21]:
y_test

776          Alianzas
163    Sostenibilidad
552              Otra
26         Innovacion
295              Otra
            ...
97      Macroeconomia
977     Macroeconomia
797        Innovacion
913              Otra
149    Sostenibilidad
Name: Type, Length: 244, dtype: object

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
vectorize = CountVectorizer()

In [24]:
x_train_transformed = vectorize.fit_transform(x_train)
x_test_transformed = vectorize.transform(x_test)

In [25]:
x_train_transformed

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 229232 stored elements and shape (973, 26343)>

In [28]:
x_train_transformed_dense = x_train_transformed.toarray()
print(x_train_transformed_dense)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [29]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [30]:
model = MultinomialNB()
model.fit(x_train_transformed, y_train)
y_pred = model.predict(x_test_transformed)
print(metrics.accuracy_score(y_test, y_pred))

0.7909836065573771

# Stemming

In [31]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

In [38]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [39]:
stemmer = SnowballStemmer('spanish')

In [49]:
def tokenize_and_stem(text):
    tokens = word_tokenize(text)
    stems = [stemmer.stem(token) for token in tokens if token.isalpha()]
    return ' '.join(stems)

In [53]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [54]:
df['new_stemmer'] = df['news'].apply(tokenize_and_stem)

In [56]:
df['new_stemmer'][3]

'con el dat de marz el ipc interanual encaden su decimoquint tas posit consecut la inflacion public por el ine se ha manten igual respect al avanc del de marz y se situ punt por encim del dat de febrer que ascend al esos punt de diferent la mayor part la coloc el grup de la viviend punt por la sub de la electr y el del transport punt por el alza de los carbur tambien impuls el ipc de marz el aument de los preci de la restaur y los servici de aloj y al encarec generaliz de los aliment especial del pesc y el marisc de la carn de las legumbr y hortaliz y de la lech el ques y los ten en cuent la rebaj del impuest especial sobr la electr y las variacion sobr otros impuest el ipc interanual alcanz en marz nuev decim mas que la tas general del asi lo reflej el ipc a impuest constant que el ine tambien public en el marc de esta inflacion subyacent sin aliment no elabor ni product energet aument en marz cuatr decim hast su valor mas alto desd septiembr de de este mod la subyacent se situ mas de seis punt por debaj de la tas del ipc el ultim año la calefaccion el alumbr y la distribu de agu se han encarec los aceit y gras han elev sus preci un y el transport personal es un mas car por el mayor cost de los carbur tambien registr alzas de dos digit los huev y la lech un mas car que hac un año y la carn de ovin y el pesc fresc y congel con repunt del en ambos estan los preci por comunidadescastillal manch se situ a la cabez con una tas de inflacion del segu de castill y leon aragon la rioj galici extremadur cantabri y comun valencian el otro las comun dond se registr las menor sub fueron canari madr balear asturi pais vasc y cataluñ ipc disp su tas mensual al tas mensual el ipc registr en marz un increment del respect a febrer su mayor alza mensual en cualqui mes desd cuand se camb la metodolog de esta estadist par recog mejor la evolu del merc echand la vist mas atras tom seri anterior el repunt mensual de marz es el mas elev desd agost de el terc mes de el indic de preci de consum armoniz ipca situ su tas interanual en mas de dos punt por encim de la de febrer por su part el indic adelant del ipca avanz un en tas mensual'

In [57]:
# Separamos los datos en varaibles de entrada y de etiqueta
X = df['new_stemmer']
y = df['Type']
x_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

vectorize = CountVectorizer()
x_train_transformed = vectorize.fit_transform(x_train)
x_test_transformed = vectorize.transform(X_test)

model = MultinomialNB()
model.fit(x_train_transformed, y_train)

# Medimos el rendimiento dewl modelo
y_pred = model.predict(x_test_transformed)
print(metrics.accuracy_score(y_test, y_pred))

0.8401639344262295

In [58]:
x_train_transformed

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 199760 stored elements and shape (973, 11999)>

# Lemmatization

In [59]:
import spacy

In [65]:
!python -m spacy download es_core_news_sm

Collecting es-core-news-sm==3.8.0
  Downloading https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl (12.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.9/12.9 MB 31.7 MB/s eta 0:00:00
Installing collected packages: es-core-news-sm
Successfully installed es-core-news-sm-3.8.0
✔ Download and installation successful
You can now load the package via spacy.load('es_core_news_sm')
⚠ Restart to reload dependencies
If you are in a Jupyter or Colab notebook, you may need to restart Python in
order to load all the package's dependencies. You can do this by selecting the
'Restart kernel' or 'Restart runtime' option.

In [66]:
nlp = spacy.load('es_core_news_sm')

In [67]:
def lematize_text(text):
    doc = nlp(text)
    lemmas = [token.lemma_ for token in doc if token.is_alpha]
    return ' '.join([token.lemma_ for token in doc])

In [70]:
df['new_lemma'] = df['news'].apply(lematize_text)

In [71]:
df['new_lemma']

0       durante el foro el banca articulador empresari...
1       el regulador de valor de China decir el doming...
2       en uno industria históricamente masculino como...
3       con el dato de marzo el IPC interanual encaden...
4       ayer en Cartagena él dar inicio a el versión n...
                              ...
1212    en el vida de todo empresa emergente llegar un...
1213    el espiral alcista de el precio continuar y ge...
1214    el grande derrota nacional ser experiencia tra...
1215    BBVA haber alcanzar uno acuerdo de colaboració...
1216    casi entrar a el parte final de noviembre el é...
Name: new_lemma, Length: 1217, dtype: object

In [72]:
df['new_lemma'][3]

'con el dato de marzo el IPC interanual encadenar su decimoquinto tasa positivo consecutivo . el inflación publicado por el INE él haber mantener igual respecto al avance del 30 de marzo y él situar 22 punto por encima del dato de febrero que ascender al 76.de ese 22 punto de diferencia el mayor parte él colocar el grupo de el vivienda 09 punto por el subida de el electricidad y el del transporte 07 punto por el alza de el carburante . también impulsar el IPC de marzo el aumento de el precio de el restauración y el servicio de alojamiento y al encarecimiento generalizado de el alimento especialmente del pescado y el marisco de el carne de el legumbr y hortaliza y de el leche el queso y el huevo . sin tener en cuenta el rebaja del impuesto especial sobre el electricidad y el variación sobre otro impuesto el IPC interanual alcanzar en marzo 107 nueve décima más que el tasa general del 98 . así él reflejar el IPC a impuesto constante que el INE también publicar en el marco de este estadística . el inflación subyacente sin alimento no elaborado ni producto energético aumentar en marzo cuatro décima hasta 34 su valor más alto desde septiembre de 2008 . de este modo el subyacente él situar más de seis punto por debajo de el tasa del IPC general . en el último año el calefacción el alumbrado y el distribución de agua él haber encarecer 683 el aceite y grasa haber elevar su precio uno 321 y el transporte personal ser uno 193 más caro por el mayor coste de el carburante . también registrar alza de dos dígito el huevo y el leche uno 11 más caro que hacer uno año y el carne de ovino y el pescado fresco y congelado con repunte del 101 en ambos caso . cómo estar el precio por comunidadesCastillaLa Mancha él situar a el cabeza con uno tasa de inflación del 117 seguida de Castilla y León 11 Aragón 107 el Rioja 106 Galicia 105 Extremadura 103 Cantabria 102 y Comunidad Valenciana 102.En el otro el comunidad donde él registrar el menor subida ser Canarias 84 Madrid 9 Baleares 94 Asturias 95 País Vasco 95 y Cataluña 95.el IPC disparar su tasa mensual al 3en tasa mensual el IPC registrar en marzo uno incremento del 3 respecto a febrero su mayor alza mensual en cualquiera mes desde 2002 cuando él cambiar el metodología de este estadística para recoger mejor el evolución del mercado . echar el vista más atrás tomar serie anterior el repunte mensual de marzo ser el más elevado desde agosto de 1977.en el tercer mes de 2022 el Índice de Precios de Consumo Armonizado IPCA situar su tasa interanual en 98 más de dos punto por encima de el de febrero . por su parte el indicador adelantado del IPCA avanzar uno 39 en tasa mensual .'

In [73]:
# Separamos los datos en varaibles de entrada y de etiqueta
X = df['new_lemma']
y = df['Type']
x_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

vectorize = CountVectorizer()
x_train_transformed = vectorize.fit_transform(x_train)
x_test_transformed = vectorize.transform(X_test)

model = MultinomialNB()
model.fit(x_train_transformed, y_train)

# Medimos el rendimiento dewl modelo
y_pred = model.predict(x_test_transformed)
print(metrics.accuracy_score(y_test, y_pred))

0.8114754098360656

In [74]:
x_train_transformed

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 209167 stored elements and shape (973, 19423)>